<div>
    <h1>todo</h1>
    <input type="text" ng-model="searchUsers" placeholder="search a user">
    
    <ul>
        <li ng-repeat="user in users | orderBy: 'name' | filter: searchUsers" style="cursor: pointer" ng-click="deleteUser(user)">
            <h3>Person: {{user.name}}</h3>
            <h4>Task: {{user.task}}</h4>
        </li>
    </ul>

    <form ng-submit="addUser()">
        <input type="text" name="name" ng-model="newUser.name" placeholder="name" required>
        <input type="text" name="task" ng-model="newUser.task" placeholder="task" required>
        <input type="submit" value="submit">
    </form>

</div>